/* @font-face {
  font-family: "Pretendard";
  font-style: black;
  font-weight: 900;
  src: local("Pretendard"),
    url(../../public/fonts/Pretendard-Black.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: bold;
  font-weight: 700;
  src: local("Pretendard"),
    url(../../public/fonts/Pretendard-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: semibold;
  font-weight: 600;
  src: local("Pretendard"),
    url(../../public/fonts/Pretendard-SemiBold.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-style: medium;
  font-weight: 500;
  src: local("Pretendard"),
    url(../../public/fonts/Pretendard-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-style: regular;
  font-weight: 400;
  src: local("Pretendard"),
    url(../../public/fonts/Pretendard-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: light;
  font-weight: 300;
  src: local("Pretendard"),
    url(../../public/fonts/Pretendard-Light.woff2) format("woff2");
} */
